.app-container{
  @apply h-screen overflow-scroll bg-gray-50 max-w-[2560px] mx-auto  md:px-3  xs:px-0;
}
.side-bar{
  @apply md:border md:border-y-0 md:border-l-0 md:border-vencruGray-100 md:w-[17.5rem]  xs:w-full md:h-[960px] xs:h-[auto] md:pr-3 pl-0 md:px-2 md:pt-5 border-l-0 xs:px-0.5
  xs:border-0 bg-white xs:p-3 ;
}






.search-input{
  @apply border  h-[44px] rounded-[8px] input-shadow border-customGray pl-[40px];
}

.search-icon{
  @apply absolute top-[0.9rem] left-[25px];

}
.icon{
  @apply  w-[18px] h-[20px] mr-3;
}

.tab{
  @apply flex items-center py-2.5 pl-[20px] rounded-[8px] hover:bg-slate-50 hover:cursor-pointer text-slate-600 font-normal;
}
.header-btn-group{
  @apply inline-flex  border border-customGray bg-white rounded-[8px] mb-8;
  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));

}

.nav-btns::-webkit-scrollbar{
  display: none;
}
.nav-btns {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}
.header-btn-group li:last-of-type{
  border-right-color: transparent;
}
.header-btn-group li:last-of-type > button{

  border-radius: 0px 8px 8px 0px
}
.header-btn-group li:first-of-type > button{
  border-left-width: none;
  border-radius: 8px 0px 0px 8px
}
img {
  width:100%;
  height:100%;
  object-fit: contain;
}

.check-circle, .check-mark{
  @apply rounded-full border border-purple-400 inline-flex h-4 w-4 justify-center items-center hover:cursor-pointer;
}

.check-circle::after{
  content: '';
  display: inline-block;
  width: 7px;
  height:7px;
  background:transparent;
  border-radius:100%;

}

input[type="radio"]:checked + .check-circle::after{
  
  background:#7F56D9; 

}

.check-mark{
  background:transparent;
}

.check-mark::after{
  content: ''; 
}

input[type="radio"]:checked + .check-mark::after{
  content: url('./assets/svg/check.svg'); 
  width: 100%;
  height:100%;
  position: absolute;
  border-radius:100%;
  top: -8px;
  left: 2px;

}

input[type="radio"]:checked + .check-mark{
  background:#7F56D9;
}

input[type="radio"]:checked ~ div{
  background:#F2E0FF;
}

input[type="radio"]:checked ~ div .text-a{
  color:#53389E;
}
input[type="radio"]:checked ~ div .text-b{
  color:#7F56D9;
}
input[type="radio"]:checked ~ div .text-c{
  color:#9E77ED;
}

 .table{
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
  border-radius: 8px;
  height:300px;
  border-collapse: collapse;
  overflow:hidden; 
  display: table;
 }

 .table tr{
  @apply hover:bg-gray-50;
  border-bottom: 1px solid #EAECF0;

 }

 .table th{
  font-weight: 500;
  
 }

 .paid{
  padding: 5px 15px;
  font-size: 12px;
  color: #027A48;
  border-radius: 8pc;
  background: #ECFDF3;
 }

.download{
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  width: 146px;
  height: 40px;

}

input[type="text"]{
  width: 100%;
  outline: none;
  box-shadow: none;
  transition: all 0.2s linear;
}

input[type="text"]:focus{
  box-shadow: 0px 0px 5px 1px #D6BBFB;
}

.input-shadow{
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
  
